body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --income: #00a67d;
    --expense: #f22c3d;
    --invest: #4353af;
    --form-background: #24221f;
    --primary-color: #ffc632;
   }

  body, input, textarea, button{
    font: 400 1rem 'poppins', sans-serif;
    background: var(--background);
  }

  li{
    list-style: none;
  }

  .flex {
    display: flex;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .none {
    display: none;
  }

  header {
   display: flex;
   background: var(--background);
   justify-content: center;
  }

  header h1, p {
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
  }

  #inputs {
    margin: 4rem 4rem;
    background: var(--background);
  }

  #inputsValues {
    color: var(--text-base);
    padding: 2rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
 
  #inputsValues input {
    height: 1.5rem;
    width: auto;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    background: var(--form-background);
  }


  /* remove number input style */
  #value::-webkit-outer-spin-button,
  #value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
  }

  #btnContainer{
    display: flex;
   }

  #inc {
    background-color: var(--income);
  }

  #exp {
    background-color: var(--expense);
  }

  #inv {
    background-color: var(--invest);
  } 

  .addButton{
    color: #fff;
    height: 2rem;
    width: 8rem;
    margin-left: 10px;
    padding: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  #showInputs {
    background: var(--form-background);
  }

  #listHeader {
    padding: 1rem;
    border-radius: 4px;
    color: var(--text-base);
    justify-content: space-between;
  }

  #listHeader h3 {
    margin: 0;
  }

  #inputsList {
    padding: 1rem;
    border-radius: 8px;
    margin: 0;
    height: 50vh;
    overflow: auto;
  }

  #inputsList li{
    align-items: baseline;
  }

  #inputsList li p {
    color: var(--text-title);
    padding: 0;
  }

  .expense {
    color: var(--expense);
    display: flex;
    justify-content: space-between;
  }

  .income {
    color: var(--income);
    display: flex;
    justify-content: space-between;
  }

  .investment {
    color: var(--invest);
    display: flex;
    justify-content: space-between;
  }




  #total {
  display: flex;
  gap: 0.5rem;
  }
  .resultBox{
    text-align: center;
    width: 100%;
    color: var(--text-base);
    background: var(--form-background);
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
  }
  .totalBox {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    justify-content: center;
  }



  #results {
    padding: 4rem;
  }

  #resultsButton::before {
      display: flex;
      justify-content: center;
  }

  #resultsButton{
    color: var(--background);
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
    width: 280px;
    border: none;
    border-radius: 3px;
    background: var(--primary-color);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  #showResults {
    color: var(--text-title);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 0;
  }

  #showResults h3 {
    background: var(--form-background);
    width: auto;
    padding: 1rem;
    margin: 2rem 0 0 0;
  }

  #showResults ul {
    background: var(--form-background);
    height: 250px;
    margin: 0;
    padding: 1rem 0rem 1rem 1rem;
    overflow: auto;
  }

  #showResults ul::-webkit-scrollbar {
   appearance: none;
  }

  #showResults ul li {
    align-items: baseline;
  }

  #showResults ul li p {
    color: var(--text-title);
    font-size: 1rem;
    font-weight: 100;
  }
  #showResults canvas {
    width: 100%;
    padding: 4rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  

  
    
  