body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --income: #00a67d;
    --expense: #f22c3d;
    --invest: #7922eb;
    --form-background: #24221f;
    --primary-color: #ffc632;
   }


  body, input, textarea, button{
    font: 400 1rem 'poppins', sans-serif;
    background: var(--background);
  }
  
  .flex {
    display: flex;
  }

  .center {
    display: flex;
    justify-content: center;
  }
  
  .none {
   display: none;
  }
  
  header {
   background: var(--background);
   justify-content: center;
  }

  header h1 {
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
  }

  #home {
    background-color: var(--background);
  }

  #inputs {
    margin: 1rem 2rem;
    background: var(--background);
  }

  #inputsValues {
    color: var(--text-base);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  #inputsValues input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: var(--form-background);
  }

  .inc {
    border: none;
  }

  .inc:focus {
    outline: none;
    border: 1px solid var(--income);
    }

    /* remove number input style */
    .inc::-webkit-outer-spin-button,
    .inc::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
    }

  .exp {
    border: none;
  }

  .exp:focus {
    outline: none;
    border: 1px solid var(--expense);
    }

    .exp::-webkit-outer-spin-button,
    .exp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
    }

  .inv {
      border: none;
  }
   
  .inv:focus {
      outline: none;
      border: 1px solid var(--invest);
  }
  
  /* remove number input style */
  .inv::-webkit-outer-spin-button,
  .inv::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; 
   }

   #inc {
    height: 2rem;
    margin-left: 10px;
    padding: 1rem;
    font-weight: bold;
    background-color: var(--income);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }

  #exp {
    height: 2rem;
    margin-left: 10px;
    padding: 1rem;
    font-weight: bold;
    background-color: var(--expense);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }

  #inv {
    height: 2rem;
    margin-left: 10px;
    padding: 1rem;
    font-weight: bold;
    background-color: var(--invest);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }
  
  #inputsList {
    padding: 2rem;
    background: var(--form-background);
    border-radius: 8px;
  }
  

  .expense {
    color: var(--expense);
    display: flex;
    justify-content: space-between;
  }

  .income {
    color: var(--income);
    display: flex;
    justify-content: space-between;
  }

  .investment {
    color: var(--invest);
    display: flex;
    justify-content: space-between;
  }

  #results {
    padding: 2rem;
  }

  #resultsButton::before {
      display: flex;
      justify-content: center;
  }

  #resultsButton{
    color: var(--background);
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
    width: 280px;
    border: none;
    border-radius: 3px;
    background: var(--primary-color);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  }

  #resultsButton:hover {
   
  }

  #showResults {
    color: var(--text-title);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  .resultBox{
    background: var(--form-background);
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;

  
  }

  .totalBox {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: center;
  }
    }
  